//* =======================================================
//* Color
//* =======================================================
$colorMain: #b5e6ed;
$colorSub: #008A9D;
$colorBtn: rgb(76, 88, 255);
$colorTxt: #004149;
$colorBg: rgb(212, 220, 253, .2);
$colorGray: #bcbcbc;
//* =======================================================
//* Font
//* =======================================================
$fontNoto: 'Noto Sans JP', sans-serif;
$fontMon: 'Montserrat', sans-serif;
$fontRob: 'Roboto', sans-serif;